[IDSrepo]
name=IDS Repository for %(distribution)s $releasever $basearch
baseurl=http://ids-us-east-1.s3.amazonaws.com/%(distribution)s/$releasever/$basearch/
enabled=1
gpgcheck=1
gpgkey=http://ids-us-east-1.s3.amazonaws.com/pubkey.gpg
