irodsHost=%(icat_host)s
export irodsHost
irodsPort=1247
export irodsPort
irodsUserName=%(irods_boot_user)s
export irodsUserName
irodsZone=%(irods_zone)s
export irodsZone
irodsAuthFileName=%(tmpdir)s/.irodsA
export irodsAuthFileName
