# Rules that implement the policies and procedures for the
# INCF Dataspace go here

# 
# No trash can
#
acTrashPolicy {
  msiNoTrashCan;
}

#
# We don't really want user homes for users from the incf zone,
# so override acCreateUserF1 here. Checks for usernames with #incf
# (which are users) and names like ids-* (which are groups).
acCreateUserF1 {
  ON ($otherUserName like "\*#incf"
      || $otherUserName like "ids-*") {
    msiCreateUser ::: msiRollback;
    msiAddUserToGroup("public")  :::  msiRollback;
    msiCommit;
  }
}

