#######################################################
#
# This file contains environment variables that change
# some operational parameters of the iRODS server.
#

#############################################
#
# Debug settings
#

# logging: 3 is only error, 5 is notice, 7 is debug, 8 is more debug
#spLogLevel=5
#export spLogLevel

# log the SQL statements being sent to the DB
#spLogSql=1
#export spLogSql

# even more SQL debugging
#irodsDebug=CATSQL
#export irodsDebug


#############################################
#
# Directory/file locations
#

# location of configuration files. iRODS server will look in
# this location for server.config and reConfigs
#irodsConfigDir=/etc/irods
#export irodsConfigDir

# location of runtime state (packedRei, lockFileDir)
#irodsStateDir=/var/lib/irods
#export irodsStateDir

# where will iRODS put its log files
#irodsLogDir=/var/log/irods
#export irodsLogDir

# for the OS authentication
#irodsOsAuthKeyfile=/etc/irods/irods.key
#export irodsOsAuthKeyfile

# SSL parameters (for PAM authentication)
# most of them here are used for reference, as
# some are used by the client side
#irodsSSLCertificateChainFile=$irods_top/config/$host/chain.pem
#export irodsSSLCertificateChainFile
#irodsSSLCertificateKeyFile=$irods_top/config/$host/key.pem
#export irodsSSLCertificateKeyFile
#irodsSSLDHParamsFile=$irods_top/config/dhparams.pem
#export irodsSSLDHParamsFile
# client parameters (use one or the other)
#irodsSSLCACertificatePath=$irods_top/config/$host/certs
#export irodsSSLCACertificatePath
#irodsSSLCACertificateFile=$irods_top/config/$host/cacerts.pem
#export irodsSSLCACertificateFile


#############################################
#
# Miscellaneous settings
#

# name of the iRODS DSN in odbc.ini (default is PostgreSQL)
irodsOdbcDSN=ICAT
export irodsOdbcDSN

# use this user as the effective user in the server
# processes when starting iRODS as root
#irodsServiceUser=irods
#export irodsServiceUser

# default file and directory modes for files created in the vault
#DefFileMode=0644
#DefDirMode=0755
#export DefFileMode DefDirMode

# might need this when using Kerberos auth
#KRB5_KTNAME=/etc/krb5.keytab
#export KRB5_KTNAME


#############################################
#
# Main iRODS server configuration variables.
# These ones must be set for things to work.
#
irodsHost=%(icat_host)s
export irodsHost
irodsPort=1247
export irodsPort
irodsZone=%(irods_zone)s
export irodsZone
irodsUserName=%(irods_user)s
export irodsUserName
irodsAuthFileName=/var/lib/irods/.irodsA
export irodsAuthFileName
